.t-section {
  @apply inline-block w-full;
}

.t-section > * {
  @apply block;
}

.t-header {
  @apply sticky top-0 z-50 bg-gray-50 border-b-2 border-gray-200;
}

.th-col {
  @apply inline-block w-1/6 p-3 text-sm font-semibold tracking-wide text-left;
}

.t-col {
  @apply inline-block w-1/6 p-3 text-sm text-gray-700;
}

.t-body {
  @apply h-[65vh] overflow-y-scroll bg-white;
}

.mock-btn {
  all: unset;
  display: inline-block;
  padding: 0.75rem 1.25rem;
  border-radius: 10rem;
  color: #090821;
  font-size: 1rem;
  letter-spacing: 0.15rem;
  position: relative;
  background-color: #5fb5c6;
  cursor: pointer;
  transition: all 0.3s;
}

.mock-btn:hover {
  background-color: #fff;
}
